 body{
  background-image: url(GWEBE9588.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
 }
#clock-container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
#clock{
  font-family:monospace ;
  font-size: 6.5rem;
  font-weight:bold ;
  text-align: center;
  color: rgb(231, 237, 240);
  width: 100%;

}